<a href="https://colab.research.google.com/github/PotlachervuSrilatha/PYTHON/blob/main/PYTHON_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
a=1

In [82]:
type(a)

int

In [83]:
b=3

In [84]:
type(b)

int

In [85]:
c=1.3

In [86]:
type(c)

float

In [87]:
print(c)

1.3

In [88]:
a="x"
print(a)

x

In [89]:
type(a)

str

In [90]:
a="hi"
print(a)
print(type(a))

hi
<class 'str'>

In [91]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [92]:
a=False
print(a)
print(type(a))

False
<class 'bool'>

In [93]:
a=3+5i # Not accepted in python syntax
print(type(a))

SyntaxError: invalid decimal literal (<ipython-input-93-42f320ba56cb>, line 1)

In [94]:
b=4+6j
print(b)
print(type(b))

(4+6j)
<class 'complex'>

In [95]:
a=4+6j
print(a)
print(type(a))

(4+6j)
<class 'complex'>

In [96]:
a+b

(8+12j)

In [97]:
id(a) # memory allocation for variable a

133807046842800

In [98]:
id(b)

133807046849168

In [99]:
a=64
b=56
print(a+b)

120

In [100]:
print(a-b)
print(a*b)
print(10**2)
print(a/b)
print(a//b)
print(a%b)

8
3584
100
1.1428571428571428
1
8

INPUT

- input statement asking the user to enter some text
- the default datatype for input() is string

In [101]:
a=input("enter a text:")
print(a)
print(type(a))

enter a text:

<class 'str'>

In [102]:
a=(input("enter a number:"))
b=(input("enter b number:"))

print(a,b)
print(type(a))
print(type(b))

enter a number:17
enter b number:78
17 78
<class 'str'>
<class 'str'>

In [104]:
print(a+b)
type(a)

1778

str

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter b number:"))

print(a,b)
print(type(a))
print(type(b))

enter a number:7
enter b number:7
7 7
<class 'int'>
<class 'int'>

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter b number:"))

print(a,b)
print(type(a))
print(type(b))

enter a number:7
enter b number:8
7.0 8.0
<class 'float'>
<class 'float'>

In [ ]:
a=eval(input("enter a number:"))
b=eval(input("enter b number:"))

print(a,b)
print(type(a))
print(type(b))

enter a number:10
enter b number:89
10 89
<class 'int'>
<class 'int'>

In [ ]:
a=eval(input("enter a number:"))
b=eval(input("enter b number:"))

print(a,b)
print(type(a))
print(type(b))

enter a text:10.6
enter b text:78.9
10.6 78.9
<class 'float'>
<class 'float'>

In [ ]:
a=eval(input("enter a boolean:"))
b=eval(input("enter b bollean:"))

print(a,b)
print(type(a))
print(type(b))

enter a boolean:True
enter b bollean:False
True False
<class 'bool'>
<class 'bool'>

In [ ]:
import keyword
print(keyword.kwlist) # 35 keywords are there

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a=eval(input("enter a text:"))
b=eval(input("enter b text:"))

print(a,b)
print(type(a))
print(type(b))

enter a text:'hello'
enter b text:'world'
hello world
<class 'str'>
<class 'str'>

In [ ]:
a=eval(input("enter a text:")) # it will throw AN ERROR
b=eval(input("enter b text:"))

print(a,b)
print(type(a))
print(type(b))

enter a text:HELO

NameError: name 'HELO' is not defined

In [ ]:
a = eval(f'"{input("enter a text: ")}"')
b = eval(f'"{input("enter b text: ")}"')

print(a, b)
print(type(a))
print(type(b))

enter a text: HELLO
enter b text: WORLD
HELLO WORLD
<class 'str'>
<class 'str'>

In [ ]:
A=eval(input("enter a text:"))
B=eval(input("enter b text:"))

print(A,B)
print(type(A))
print(type(B))

enter a text:10
enter b text:30
10 30
<class 'int'>
<class 'int'>

In [ ]:
print(A+B)
print(type(A))
print(type(B))

40
<class 'int'>
<class 'int'>

In [ ]:
print(A-B)
print(A*B)
print(A/B)
print(A//B)
print(A%B)

-20
300
0.3333333333333333
0
10

In [ ]:
a=5
sq=a*2
print(sq)

10

In [ ]:
sq=a**a
print(sq)

3125

In [ ]:
a=int(input("enter a number:"))
sq=a**2
print(sq)

enter a number:10
100

In [ ]:
# strings
# concatenate strings

In [ ]:
b="good"
c="morning"
print(b+c)

goodmorning

In [ ]:
print(b,c)

good morning

In [ ]:
type(b)

str

In [ ]:
type(c)

str

In [ ]:
# int and float

In [ ]:
b=10
c=1.5
print(b+c)
print(type(b))
print(type(c))

11.5
<class 'int'>
<class 'float'>

In [ ]:
# float to int

In [ ]:
b=10.7
c=8
print(b+c)
print(type(b))
print(type(c))

18.7
<class 'float'>
<class 'int'>

In [ ]:
# int to string

In [ ]:
b=10
c="hello"
print(b+c)
print(type(b))
print(type(c))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Integer to String
# To convert an integer to a string, use the str() function:


num = 123
num_str = str(num)
print(num_str)  # Output: "123"
print(type(num_str))  # Output: <class 'str'>

123
<class 'str'>

In [ ]:
b="hello"
c=20
print(b+c)
print(type(b))
print(type(c))

TypeError: can only concatenate str (not "int") to str

In [ ]:
# String to Integer
# To convert a string to an integer, use the int() function. The string should represent a valid integer:


num_str = "123"
num = int(num_str)
print(num)  # Output: 123
print(type(num))  # Output: <class 'int'>

123
<class 'int'>

In [ ]:
b="hello"
c=1.5
print(b+c)
print(type(b))
print(type(c))

TypeError: can only concatenate str (not "float") to str

In [105]:
# String to Float
# To convert a string to a float, use the float() function. The string should represent a valid float:


flt_str = "123.45"
flt = float(flt_str)
print(flt)  # Output: 123.45
print(type(flt))  # Output: <class 'float'>

123.45
<class 'float'>

In [ ]:
b=10.8
c="hello"
print(b+c)
print(type(b))
print(type(c))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [106]:
# Float to String
# To convert a float to a string, use the str() function:


flt = 123.45
flt_str = str(flt)
print(flt_str)  # Output: "123.45"
print(type(flt_str))  # Output: <class 'str'>

123.45
<class 'str'>

In [107]:
# Initial values
b = 10.8
c = "hello"

# Attempt to add directly (will cause an error)
try:
    print(b + c)
except TypeError as e:
    print(e)  # Output: unsupported operand type(s) for +: 'float' and 'str'

# Convert float to string and concatenate
result1 = str(b) + c
print(result1)  # Output: "10.8hello"
print(type(b))  # Output: <class 'float'>
print(type(c))  # Output: <class 'str'>

# Convert string to float and add
c_float = "20.5"
result2 = b + float(c_float)
print(result2)  # Output: 31.3
print(type(b))  # Output: <class 'float'>
print(type(c_float))  # Output: <class 'str'>

# Convert string to integer and add (if applicable)
c_int = "10"
result3 = b + int(c_int)
print(result3)  # Output: 20.8
print(type(b))  # Output: <class 'float'>
print(type(c_int))  # Output: <class 'str'>

unsupported operand type(s) for +: 'float' and 'str'
10.8hello
<class 'float'>
<class 'str'>
31.3
<class 'float'>
<class 'str'>
20.8
<class 'float'>
<class 'str'>